
/* Your CSS Code here. */

 body {
      background-color: #f3f3f3;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    /* movie poster */
    .moviePic {
      height: 400px;
      width: 300px;
      opacity: 0.9;
      margin-top: 50px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    /*  movie description */
    .movieDetail {
      position: relative;
      top: 30px;
      width: 60%;
      margin: auto;
      text-align: center;
      font-size: 18px;
      color: #333;
      line-height: 1.6;
    }